@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to right, #5e4c47, #5e4c47);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    text-align: center;
}
